DTD-5/5_2.dtd

<!ELEMENT libreta-direcciones (entrada)>
<!ELEMENT entrada (nombre, direccion, telefono*, correo-e*)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT direccion (calle, region, codigo-postal, localidad, pais)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT correo-e EMPTY>
<!ELEMENT calle (#PCDATA)>
<!ELEMENT region (#PCDATA)>
<!ELEMENT codigo-postal (#PCDATA)>
<!ELEMENT localidad (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ATTLIST correo-e href CDATA #REQUIRED>